/* SoliDeoGloria */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    background: url('../imagens/informacoes/fundoInfo.jpg') no-repeat;
    background-size: cover;
    background-position: center;    
}

/* Barra de Menus */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.logoMenu{
    height: 40px;
    width: 40px;
}

/* Conteúdo da página */

.container {
    justify-content: center;
    margin: auto;
    max-width: 96%;
    margin-top: 6.25em;
}


/* Título */

.title{ 

    font-size: 40px;
    color: rgb(108, 108, 229);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1.5);
    justify-content: center;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 5em;

}

/* Teste*/

.marquee-container {
    overflow: hidden;
    white-space: nowrap;
}
.marquee {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 80s linear infinite;
}
.phone-list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.phone-item {
    margin-right: 20px;
}
.phone-link {
    text-decoration: none;
    font-size: 3em;
    color: rgb(108, 108, 229);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1.5);
}
@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}




/* Final teste*/





.telefones{
    position: relative;
    padding-top: 15px;
    padding-left: 20px;
    color: rgb(194, 227, 230);
    justify-content: right;
    background: url('../imagens/informacoes/telefones.jpg') no-repeat;
    height: 1600px;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 2em;
}


.tel{
    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    background-color: transparent;
    border: 0.4px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1.5);
    text-align:center;
    justify-content: center;
    text-align:center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.tensao{
    position: relative;
    padding-top: 15px;
    color: rgb(194, 227, 230);
    background: url('../imagens/informacoes/tensao.jpg') no-repeat;
    height: 1600px;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 2em;
    margin-top: 1em;    
}

.tens{
    position: absolute;
    width: 40%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    text-align:center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 50px 20px;
}

.informacoes{
    position: relative;
    padding-top: 15px;
    padding-left: 20px;
    color: rgb(194, 227, 230);
    justify-content: right;
    background: url('../imagens/informacoes/informacoes.jpg') no-repeat;
    height: 1600px;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 2em;
}

.info{
    position: absolute;
    width: 40%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    background-color: transparent;
    border: 0.8px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-align:center;
    justify-content: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.seguranca{
    position: relative;
    color: rgb(194, 227, 230);
    justify-content: right;
    background: url('../imagens/informacoes/seguranca.jpg') no-repeat;
    height: 1600px;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 2em;
}

.seg{
    position: absolute;
    width: 40%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    text-align:center;
    justify-content: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 50px 20px;
}

.transportes{
    position: relative;
    color: rgb(194, 227, 230);
    justify-content: right;
    background: url('../imagens/informacoes/transporte.jpg') no-repeat;
    height: 1600px;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 2em;
}

.trnsp{
    position: absolute;
    width: 40%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    text-align:center;
    justify-content: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 50px 20px;
}

.saude{
    position: relative;
    color: rgb(194, 227, 230);
    justify-content: right;
    background: url('../imagens/informacoes/saude.jpg') no-repeat;
    height: 1600px;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 2em;
}

.sau{
    position: absolute;
    width: 40%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    background-color: transparent;
    border: 0.4px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1.5);
    text-align:center;
    justify-content: center;
    color: rgb(192, 225, 245);
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.tempo{
    position: relative;
    color: rgb(194, 227, 230);
    justify-content: right;
    background: url('../imagens/informacoes/tempo.jpg') no-repeat;
    height: 1600px;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 2em;
}

.time{
    position: absolute;
    width: 40%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    text-align:center;
    justify-content: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 50px 20px;

}

.shoppings{
    position: relative;
    color: rgb(194, 227, 230);
    justify-content: right;
    background: url('../imagens/informacoes/shopping.jpg') no-repeat;
    height: 1600px;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 2em;
}

.mall{
    position: absolute;
    width: 40%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    background-color: transparent;
    border: 0.4px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(7px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    text-align:center;
    justify-content: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cambio{
    position: relative;
    color: rgb(194, 227, 230);
    justify-content: right;
    background: url('../imagens/informacoes/cambio.jpg') no-repeat;
    height: 1600px;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 2em;
}

.moeda{
    position: absolute;
    width: 40%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    text-align:center;
    justify-content: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 50px 20px;
}

.aguas_praias{
    position: relative;
    font-size: 25px;
    color: rgb(194, 227, 230);
    justify-content: center;
    background: url('../imagens/informacoes/noswimming.jpg') no-repeat;
    height: 3000px;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 15px;
}

.aguas{
    position: absolute;
    width: 80%;
    height: auto;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-align:center;
    color: #4caf4fc5;
    border-radius: 10px;
    padding: 50px 20px;
}

.praiasImp{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaçamento entre os botões, opcional */
}

.praiasImp button{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
    width: calc(50% - 10px); /* Ocupa metade do espaço disponível menos o gap */
    color: white;
    background-color: #4caf4fdf;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box; /* Inclui padding e border na largura total */
    text-align: center; /* Centraliza o texto dentro do botão */
}

.aguas1 {
    position: absolute;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-align:center;
    color: #4caf4fc5;
    border-radius: 10px;
    padding: 50px 20px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.popup-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    text-align: center;
}

.popup-content img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media (max-width: 480px) { /* Elementos que são visíveis apenas em telas de Smartphones*/

    .logoMenu{
        height: 5.5em;
        width: 5.5em;
        display: block;
        margin: auto;
        margin-bottom: 0.8em;

    }

    .header{
        width: 100%;
        position: absolute;
        display: block;
        float: none;
        margin-bottom: 400em;
    }

    .navbar a {
        display: block;
        float: none;
        text-align: center;
        margin-bottom: 0.5em;
        backdrop-filter: blur(20px);
        border-radius: 0.8em;
        padding: 0.5em;        
    }

    .title{
        margin-top: 15em;
        font-size: 1.8em;
    }

    .tel, .tens, .info, .seg,
    .trnsp, .sau, .time, .mall,
    .moeda
    {
        width: 90%;
    }
    .aguas{
        top:20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        font-size: 1.2em;
        display: block;
        float: none;
    }
    .praiasImp{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .aguas1{
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.8em;
    }
}

