/* SoliDeoGloria */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url('../imagens/quemSomos/fundoQuemSomos.jpg');
    background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 4px #000000;
}

/* Barra de Menus */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.9rem;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 100;
    font-family: "Poppins", sans-serif;
}

.logoMenu{
    height: 40px;
    width: 40px;
}

.navbar a {
    font-size: clamp(1em, 2vw + 0.8em, 1.35em);
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 1.2rem;
    margin-right: 2.5em;
    text-shadow: 0.115em 0.115em 0.288em rgba(0, 0, 0, 0.9);
}

/* Logomarca do na página */

.logoPC{
    display: flex;
    height: 40em;
    width: 40em;
    margin-top: 7em;
    text-align: center;
    margin: auto;
}

/* Texto Descritivo */

.descricao {
    max-width: 96%;
    text-align: center;
    margin: auto;
    padding-right: 10em;
    padding-left: 10em;
    font-family: "Dosis", sans-serif;
    font-size: 35px;
    color: rgb(255, 255, 255);
}
.descricao h1{
    text-align: center;
    margin-top: 1em;
}

p {
    text-align: justify;
    line-height: 43px;
}


/* Configuração para responsividade*/

@media (min-width: 481px) { /* Elementos que são visíveis apenas em telas de PCs*/
   .logoSmartPhone{
    display: none;
   }
}

@media (max-width: 480px) { /* Elementos que são visíveis apenas em telas de Smartphones*/
    .logoPC{
        display: none;
    }

    .logoMenu{
        height: 5.5em;
        width: 5.5em;
        display: block;
        margin: auto;
        margin-bottom: 0.8em;

    }

    .header{
        width: 100%;
        position: absolute;
        display: block;
        float: none;
        margin-bottom: 400em;
    }

    .navbar a {
        display: block;
        float: none;
        text-align: center;
        margin-bottom: 0.5em;
        backdrop-filter: blur(20px);
        border-radius: 0.8em;
        padding: 0.5em;        
    }

    .logoSmartPhone{
        height: 50em;
        width: 50em;
        justify-content: center;
        margin-top: 1em;
       }

    .descricao {
        width: 96%;
        text-align: center;
        margin-top: 5em;
        padding-top: 10em;
        font-size: 2em;
    }

    .descricao h1{
        margin-top: 4em;
        text-align: center;
    }
}