/* SoliDeoGloria */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    background: url('../imagens/home/fundoHome.jpg') no-repeat;
    background-size: cover;
    background-position: center;    
}

/* Barra de Menus */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.logo{
    height: 40px;
    width: 40px;
}



/*  Campo Busca */

#campoBusca {
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

#listaSuspensa {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    width: 298px;
    padding: 0;
    list-style-type: none;
}

#listaSuspensa li {
    padding: 8px;
    cursor: pointer;

}

#listaSuspensa li:hover {
    background-color: #f0f0f0;
}

.buscador {
    text-align: right;
    margin-right: 15px;
    margin-top: 90px;
}

.buscador h1 {
    margin-right: 115px;
}

.btn-busca{
    font-family: 'Dosis', sans-serif;
    color: #0a314e;
    text-shadow: 2px 2px 4px #2d2d2d;
    font-size: 24px;
    margin-top: 10px;
}

/* Segundo campo de busca para telas <480px */

#campoBusca2 {
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

#listaSuspensa2 {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    width: 298px;
    padding: 0;
    list-style-type: none;
}

#listaSuspensa2 li {
    padding: 8px;
    cursor: pointer;

}

#listaSuspensa2 li:hover {
    background-color: #f0f0f0;
}

.buscador2 {
    text-align: right;
    margin-right: 15px;
    margin-top: 90px;
}

.buscador2 h1 {
    margin-right: 115px;
}

.btn-busca2 {
    font-family: 'Dosis', sans-serif;
    color: #0a314e;
    text-shadow: 2px 2px 4px #2d2d2d;
    font-size: 24px;
    margin-top: 10px;
}



/* Chamada - SOU DO LITORAL - */

.headline{
    text-align: center;
    max-width: 500px;
    margin: auto;
    color: #fff;
}

.headline p {
    color: #fff;;
}

.styled-hr {
    width: 100%;
    position: relative;
    text-align: center;
    border: 2px solid rgb(230, 67, 8); 
    margin: 1px 0;
}


#Chamada{
    text-align: center;
    margin-top: 180px;
    font-family: "Pacifico", sans-serif;
    color: #c7e1f3;
    font-size: 80px;
    font-weight: 300;
    text-shadow: 2px 2px 4px #2d2d2d;
    
}

/* Conjunto de Cards */

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card {
    font-family: 'Dosis', sans-serif;
    width: 18%;
    border: 1px solid #ccc;
    border-radius: 5px;
    backdrop-filter: blur(2px);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px; /* Espaçamento entre os cards */
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card h1 {
    color: #dae2e8;
    text-shadow: 2px 2px 4px #2d2d2d;
    font-size: 24px;
    margin-top: 10px;
}

.card p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(2, 2, 30);
    margin-top: 10px;
}

/* Galeria Interativa */

.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

:root{
    --index: calc(1vw + 1vh);
    --transition: cubic-bezier(0.1, 0.7, 0, 1);
    }

    .items{
        display:flex;
        gap: 0.4rem;
        perspective: calc(var(--index) * 35);
    }

    .item{
        width:calc(var(--index) * 3);
        height: calc(var(--index) * 12);
        background-color: rgba(34, 34, 34, 0.5);
        background-size: cover;
        background-position: center;
        cursor: pointer;
        filter: grayscale(1) brightness(0.5);
        transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
        will-change: transform, filter, rotateY, width;
    }

    .item::before,
    .item::after {
        content:"";
        position:absolute;
        height: 100%;
        width: 20px;
        right: calc(var(--index) * -1);
    }

    .item::after {
        left: calc(var(--index) * -1)

    }
.items .item:hover {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 10));
}

.items .item:hover + * {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
    z-index: -1;
}

.items .item:hover + * + * {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
    z-index: -2;
}

.items .item:hover + * + * + * {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
    z-index: -3;
}

.items .item:hover + * + * + * + * {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 0.6)) rotateY(15deg);
    z-index: -4;
}

.items .item:has(+ :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}

.items .item:has(+ * + :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.items .item:has(+ * + * + :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.items .item:has(+ * + * + * + :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 0.6)) rotateY(-15deg);
}

.items .item:active,
.items .item:focus {
    width: 28vw;
    filter: inherit;
    z-index: 100;
    transform: translateZ(calc(var(--index) * 10));
    margin: 0 0.45vw;
}


/* Estilos para o carrossel */

.carousel {
    overflow: hidden;
    width: 100%;
    margin: 0.87em 0;
    border-radius: 0.46em;
    box-shadow: 0 0.23em 0.46em rgba(0, 0, 0, 0.1);
    
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    max-width: 94%;
    margin: auto;
    height: 46.21em;

}

.slide {
    flex: 0 0 100%; /* Cada slide ocupa 100% da largura do container */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */

}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.46em;
}






/* Notícias */

.titulo_news{
    margin-top: 100px;
    color: rgb(44, 44, 121);
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
    text-align: center;

}

.new-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.news {
    font-family: 'Dosis', sans-serif;
    width: 75%;
    border: 1px solid #ccc;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 30px;
}

.news h2 {
    color: rgb(44, 44, 121);
}

.news p {
    color: rgb(44, 44, 121);
}



/* Rodapé */

footer {
    background: linear-gradient(45deg, #3a6186, #89253e);
    color: white;
    padding: 20px 0;
    margin-top: 100px;
    text-align: center;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #f1f1f1;
}

p {
    font-size: 16px;
    color: #f1f1f1;
}

@media (min-width: 481px) {
    .carousel{
        display: none;
    }

    .smart{
        display: none;
    }
}

@media (max-width: 480px) {

    .logo{
        height: 5.5em;
        width: 5.5em;
        display: block;
        margin: auto;
        margin-bottom: 0.8em;

    }

    .header{
        width: 100%;
        position: absolute;
        display: block;
        float: none;
        margin-bottom: 400em;
    }

    .navbar a {
        display: block;
        float: none;
        text-align: center;
        margin:auto;
        margin-bottom: 0.5em;
        backdrop-filter: blur(20px);
        border-radius: 0.8em;
        padding: 0.5em;
        
    }

    .buscador{
        text-align: center;
        margin-right: 0px;
        margin-top: 90px;
    }

    .headline{
        text-align: center;
        max-width: 40em;
        margin: auto;
        color: #fff;
    }

    .card {
        display: block;  
        width: 80%;
        font-size: 2em;
        text-align: center;
        backdrop-filter: blur(10px);
        

    }

    .wrapper{
        display: none;
    }

    .buscador{
        display: none;
    }

    .smart{
        text-align: center;
        display: none;
    }
}

